{{!< default}}

<!-- Chessboard -->
<div class="six columns">
  <div class="u-min-height">
    <div id="board" style="width: 400px"></div>
  </div>
</div>

<!-- Right of Chessboard. New game, etc... -->
<div class="six columns">
  <div class="left-border u-min-height">
    <div class="center">
      <p>
        <b>GameLink:</b>
        <span id="gameid">{{ gamelink }}</span>
      </p>
      <h5>Moves</h5>
      <div class="move-history-box">
        <div id="moves">Move a piece...</div>
      </div>
      <br>
      <br>
      <a class="button" href="/game">New Game</a>
    </div>
  </div>
</div>

{{#contentFor "pageScripts"}}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chess.js"></script>
  <script src="/js/socketchess.js"></script>
{{/contentFor}}
